
.AuthenticationForm{
    margin: auto;
    width: min-content;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    vertical-align: center;
    border: 1px solid black;
    border-radius: 25px;
    padding: 15px;


}

button{

}

.activeButton{
    background: forestgreen;
    color: white;
}