.article-redactor {
    height: 100%;
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    overflow-x: hidden;
    overflow-y: auto;
    font-size: 18px;
}

.article-redactor .page-title {
    border-bottom: 1px #dedede solid;
    width: 100%;
    position: relative;
    top: -1rem;
    left: -1rem;
    padding: 0 .5rem;
}

.article-redactor button:hover {
    border: 1px solid black;
}

.article-redactor-header, .article-redactor-body, .article-redactor-footer {
    width: 100%;
}

.article-redactor .article-redactor-header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    min-height: 10rem;
    height: max-content;
    overflow-y: auto;
}

.article-redactor-header .MuiTextField-root {
    width: 95%;
}

.article-redactor-header>span {
    margin: auto;
    width: 95%;
}

.article-redactor-header>span>div {
    text-align: -webkit-center;
    margin: auto;
    width: 95%;
    font-size: 20px;
}

.article-redactor-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2.5rem;
}

.article-redactor-footer>button {
    border: 1px #bababa solid;
    height: 2rem;
    width: 8rem;
    background: white;
    transition: 75ms;
}

.article-redactor-footer>button:active {
    background: #dedede;
}

.article-redactor-buttons {
    display: flex;
    left: 0;
    width: 100%;
    height: 2rem;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: fixed;
    bottom: .5rem;
    pointer-events: none;
    gap: .5rem;
}

.article-redactor-buttons>button {
    border: 1px #bababa solid;
    height: 2rem;
    width: 8rem;
    background: white;
    transition: 75ms;
    pointer-events: all;
}

.article-redactor-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    /* justify-content: center;
    justify-items: center;
    text-align: -webkit-center; */
    gap: 10px;
    border: 1px #dedede solid;
}

.article-redactor-body span {
    width: 100%;
}

.article-redactor-body label {
    display: block;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    align-content: center;
    align-items: center;
    align-self: center;
    margin: auto;
    color: #000;
}

.article-redactor .article-description {
    text-wrap: normal;
    min-height: 50px;
    max-height: 150px;
}

.article-redactor .article-text {
    font-size: 18px;
    width: 100%;
    word-break: break-word;
}

.article-redactor .article-img, .article-redactor .article-text {
    margin: 5px 0;
    transition: 0.3s;
}

.article-redactor .article-img:hover, .article-redactor .article-text:hover {
    border: 1px red solid;
    opacity: 85%;
}

.article-modal {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    gap: 0.5rem;
    height: 100%;
    width: 100%;
    padding: 1.5rem;
}

.article-modal-input {
    width: 100%;
    min-height: 30px;
    height: max-content;
    text-wrap: normal;
}

.article-img-preview {
    max-height: 250px;
    max-width: 250px;
}

@media (max-width: 510px) {
    .article-img-preview, .article-img {
        width: auto;
        max-width: 95% !important;
        height: auto;
        margin: auto;
    }
}

.article-redactor .article-img {
    max-height: 400px;
    max-width: 400px;
    margin: auto;
}

.article-redactor .fileInput {
    width: 9rem;
    overflow: hidden;
    background-color: white;
    border-radius: 0;
    outline: none;
}

.redactor-buttons {
    display: flex;
    gap: .5rem;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}

.redactor-buttons>button {
    height: 2rem;
    width: 4.5rem;
    border: 1px #bababa solid;
    outline: none;
    background-color: white;
}