.settingsBlock {
    overflow-y: auto;
    height: 100%;
    display: flex;
    gap: 10px;
}
.settingsAvatar {
    width: 300px;
    height: 300px;
    object-fit: fill;
    border: black 1px solid;
    border-radius: 5px;
}

.settingsAvatar:hover{
    transform: scale(1.015);
}

.settingsBlock, .avatarSet,.PasswordSet,.NamesSet {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    margin-bottom: 10px;
}

.EmailSet {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-content: center;
    justify-content: center;
}

.settingsBlock button {
    height: 30px;
    width: 182px;
    margin-top: 10px;
    background: white;
    border: 1px gray solid;
    border-radius: 5px;
}

.fileInput{
    width: 130px;
    overflow: hidden;
    margin-top: 10px;
    background: white;
    border-radius: 5px;
    outline: none;
}

.NamesSet{
    margin-bottom: 30px;
}

@media (max-width:300px) {
    .settingsAvatar{
        height:auto;
        width: 90%;
    }
    .settingsBlock{
        width: 100%;
    }
    .avatarSet,.PasswordSet,.NamesSet {
        width: 95%;
    }
}