/* Provide sufficient contrast against white background */
html,body{
  height: 100%;
  width: 100%;
}


/*div .page {*/
/*vertical-align: middle;*/
/*}*/

#root, .page{
  height: 100%;
  width: 100%;
}
/*.page{*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*}*/
/*header{*/
/*  width: 100%;*/
/*}*/
.main{
  height: calc(100% - 84px);
}

a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
