/* Provide sufficient contrast against white background */
html,body{
  margin: 0;
  flex: auto;
  height: 100%;
  /*width: 100vh;*/
}


/*div .page {*/
/*vertical-align: middle;*/
/*}*/

#root{
  height: 100%;
  width: 100%;

}
.main{
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 88px 1fr;
}


a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
