
.AuthenticationForm{
    margin: auto;
    width: max-content;
    height: max-content;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    vertical-align: center;
}

button{
    border: 1px gray groove;
    border-radius: 5px;
    margin-left: 2.5px;
    margin-right: 2.5px;
    height: 100%;
    width: 45%;
    transition-duration: 0.4s;
}

button.activeButton{
    border: 1px gray groove;
    background: forestgreen;
    color: white;
    transition-duration: 0.4s;
}

button:hover{
    transform: scale(1.1);
}

.notSetValue{
    color: white;
    background: indianred;
}

.formPicker {
    height: 35px;
}

form{
    margin-top: 5px;
}
