/*.card-columns{*/
/*    padding-left: 1rem;*/
/*    padding-right: 1rem;*/
/*    !*overflow-x: scroll;*!*/
/*    overflow-y: scroll;*/
/*    height: 500px;*/
/*    width: 100vh;*/
/*}*/

/*@media (max-width: 575.98px) {*/
/*    .card-columns {*/
/*        column-count: 1;*/
/*    }*/
/*}*/
/*@media (min-width: 576px) and (max-width: 767.98px) {*/
/*    .card-columns {*/
/*        column-count: 2;*/
/*    }*/
/*}*/
/*@media (min-width: 768px){*/
/*    .card-columns {*/
/*        column-count: 4;*/
/*    }*/
/*}*/

/*.articleGrid{*/
/*    !*width: calc(100% - 200px);*!*/
/*    text-align: -webkit-center;*/
/*    height: calc(100% - 25px) ;*/
/*    margin-top: 15px;*/
/*    padding: 15px;*/
/*    !*height: 100%;*!*/
/*    width:  calc(100%);*/
/*    !*margin: 15px;*!*/
/*    !*height: 500px;*!*/
/*    overflow-y: auto;*/
/*    overflow-x: hidden;*/
/*}*/

.articleListArea {
    margin-top: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    text-align: -webkit-center;
    padding: 15px;
    /*    display: flex;
        justify-content: center;
        align-items: center;*/
}

.articleList {
    margin: auto;
    column-gap: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    margin-top: 0px;
}

@media (max-width: 808px /*1100px*/
) {
    .articleList {
        columns: 1; /*:2;*/
    }
}

@media (max-width: 700px) {
    .articleList {
        columns: 1;
    }
}

.showMore {
    border: 1px solid #b8b8b8;
    min-width: 200px;
    max-height: 450px;
    min-height: 188.8px;
    margin: 0 0 20px 0;
    display: flex;
    /* padding: 10px; */
    background: #fff;
    page-break-inside: avoid;
    break-inside: avoid;
    /* width: calc(100% - 10px); */
    transition: 0.3s;
    overflow: hidden;
    border-radius: 10px;
    text-align: center;
    background-color: #6c757d;
    justify-content: center;
    width: 450px;
}

.showMore:hover {
    background-color: lightslategray;
}

.title {

    text-shadow: 0px 0px 10px black;
    background-color: #fff;
    color: white;
    font-size: 40px;
    margin: auto;
    display: flex;
    vertical-align: middle;
    background: transparent;
}

.showMore:hover {
    transition: 0.3s;
    background-color: #6A696C;
    border: 1px solid black;
}

.showMore div {
    margin: auto;
}

.list-control {
    width: 100%;
    display: flex;
    gap: 1rem;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}

.list-control > button {
    display: flex;
    height: auto;
    width: auto;
    border: 1px #bababa solid;
    outline: none;
    background: white;
    justify-items: center;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.list-control > button *:active, .list-control > button *:focus {
    background: white;
    outline: none;
}