.comment {
    width: 100%;
    border: 1px solid #dedede;
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    gap: .5rem;
    width: max-content;
    padding: .5rem;
}

.comment-remove {
    justify-content: center;
    height: 15px;
    width: 15px;
    line-height: 12px;
    margin: 0;
    font-size: 12px;
    position: relative;
    right: 0;
    cursor: pointer;
}

.comment-user-icon {
    height: 2.5rem;
    width: 2.5rem;
    object-fit: fill;
    border-radius: 50%;
    margin: 0;
}