.heading {
    width: max-content;
    font-size: 30px;
    font-weight: bold;
}

.profile-box {
    overflow-y: auto;
    border: 1px solid #b8b8b8;
    min-width: 200px;
    margin: 0 0 20px 0;
    background: #fff;
    break-inside: avoid;
    width: calc(100% - 10px);
    transition: 0.3s;
    overflow-x: hidden;
    border-radius: 10px;
    height:100%
}
.avatar {
    width: 300px;
    height: 300px;
    object-fit: fill;
    border: 1px solid #bdbdbd;
    border-radius: 10px;
}
.your-articles {
    font-size: 35px;
    text-align:center;
    font-weight:bold;
}

.ProfileInfo{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.heading{
    width: 100%;
    font-size: 60px;
    text-align: center;
}

.names{
    font-size: 40px;
}

.ProfileInfo button{
    width: 200px;
    height: auto;
    font-size: 20px;
}

@media (max-width:346px) {
    .avatar{
        width: 100%;
        height: auto;
    }    
}

