.heading {
    width: max-content;
    font-size: 30px;
    font-weight: bold;
}

.profile-box {
    overflow-y: auto;
    border: 1px solid #b8b8b8;
    min-width: 200px;
    margin: 0 0 20px 0;
    background: #fff;
    break-inside: avoid;
    width: calc(100% - 10px);
    transition: 0.3s;
    overflow-x: hidden;
    border-radius: 10px;
    height: 100%
}

.avatar {
    width: 300px;
    height: 300px;
    object-fit: fill;
    border: 1px solid #bdbdbd;
    border-radius: 10px;
}

.your-articles {
    font-size: 35px;
    text-align: center;
    font-weight: bold;
}

.ProfileInfo {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.heading {
    width: 100%;
    font-size: 60px;
    text-align: center;
}

.names {
    font-size: 40px;
}

.ProfileInfo button {
    width: 200px;
    height: auto;
    font-size: 20px;
    border: 1px gray solid;
    border-radius: .5rem;
}

@media (max-width: 346px) {
    .avatar {
        width: 90%;
        height: auto;
    }
}

.article-row-actions {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
}

.article-row-actions > svg {
    transform: scale(1.1);
    transition: 0.4s;
}

@keyframes scaling {
    0% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1.3);
    }
}

.article-row-actions > svg:hover {
    animation: scaling 400ms infinite alternate-reverse;
}

.icon-clickable {
    cursor: pointer;
    outline: none;
    background: none;
}

.articles-box .table-control {
    width: 100%;
    display: flex;
    gap: 1rem;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}

.articles-box .table-control > button {
    display: flex;
    height: auto;
    width: auto;
    border: 1px #bababa solid;
    outline: none;
    background: white;
    justify-items: center;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.table-control > button *:active, .table-control > button *:focus {
    background: white;
    outline: none;
}

.article-title-dots {
    color: transparent;
    font-size: 20px;
    background: -webkit-linear-gradient(45deg, black, white 75%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.ArticlesTable {
    overflow: auto;
    width: 100%;
}

